 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
 }
 .container {
     height: 100%;
     position: relative;
 }
 #map {
     bottom: 0px;
     height: 100%;
     position: absolute;
     right: 0px;
     width=100%;
 }
 #cont {
     background-color: rgba(255, 255, 255, 0.60);
 }